body{
    font-family: 'Poppins', sans-serif;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-right: 20%;
}
.hed{
    font-size: 40px;
}
.sm{
    border-left: 7px solid;
    border-image: linear-gradient(red, pink);
    border-image-slice: 1;
    padding-left: 5%;
}
.contactme{
    text-decoration: none;
    background-image: linear-gradient(wheat, skyblue);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mymis{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-align: center;
}