body{
    font-family: 'Poppins', sans-serif;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-right: 20%;
}
.hed{
    font-size: 40px;
}
.contactme{
    text-decoration: none;
    background-image: linear-gradient(wheat, skyblue);
    margin: 10px 5px;
    border-radius: 5px;
}